<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.example.demo.member.Member" alias="member"/>
        <typeAlias type="com.example.demo.board.dto.Board" alias="board"/>
        <typeAlias type="com.example.demo.board.dto.FileInfo" alias="fileInfo"/>
        <typeAlias type="com.example.demo.comment.dto.Comment" alias="comment"/>
        
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/member.xml" />
        <mapper resource="mybatis/board.xml" />
		<mapper resource="mybatis/comment.xml" />
<!--        <mapper resource="mybatis/board.xml" />-->
<!--        <mapper resource="mybatis/map.xml" />-->
<!--        <mapper resource="mybatis/interest.xml" />-->
    </mappers>


</configuration>